

.stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-image: url('/medias/nn.svg');
    mask-position: 62.9% 45%;
    mask-repeat: no-repeat;
    mask-size: 80%;
}

.container{
    position: relative;
    height: 300vh;
    background-color: white;
}

.stickyMask video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 7.5px 20px;
    align-items: center;
    
    width: 100%;
    z-index: 1000;
    

}
.navbar > ul {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
    margin-right: 42px;
    font-weight: 400;

}
.navbar > div {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}